#root{
    -fx-background-image: url("../../../../../../../../res/img/board.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#paymentSelection{
    -fx-background-image: url("../../../../../../../../res/img/lightbrownBG.jpg")
}