#root{
    -fx-background-color: #e2d0ae;
}

#board{
    -fx-background-image: url("img/prova6.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 1120 640;
    -fx-background-position: top center;
}

#paymentSelection{
    -fx-background-image: url("img/lightbrownBG.jpg")
}