#root{
    -fx-background-image: url("./img/prova8.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#personalBoard{
    -fx-background-image: url("./img/personalboard-low.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#opponentBoard{
    -fx-background-image: url("./img/personalboard.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

#personalLeaders{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#paymentSelection{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#excomPopup{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#leaderDraftPopup{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#bonusTileDraft{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#productionPopup{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#harvestingPopup{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

#privilegePopup{
    -fx-background-image: url("./img/lightbrownBG.jpg");
    -fx-background-size: auto;
    -fx-background-position: center;
}

@font-face {
    -fx-font-family: "NightShade";
    src: url("./fonts/JimNightshade-Regular.ttf");
}

#resourceLabel{
     -fx-border-color: cornsilk;
}

#showCardsButton{
    -fx-base: #fc9349;
}

#showLeaderButton{
    -fx-base: #9b653e
}

#timerLabel{
    -fx-font-family: "NightShade";
}

#labelTileDraft{
    -fx-font-size: 18;
}

#leaderDraftLabel{
    -fx-font-size: 18;
}

#goldLabel{
    -fx-font-family: "NightShade";
    -fx-font-size: 30;
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 2px;
}

#stoneLabel{
    -fx-font-family: "NightShade";
    -fx-font-size: 30;
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 2px;
}

#woodLabel{
    -fx-font-family: "NightShade";
    -fx-font-size: 30;
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 2px;
}

#servantLabel{
    -fx-font-family: "NightShade";
    -fx-font-size: 30;
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 2px;
}

.diewidget.label .text{
    -fx-font-family: "NightShade";
    -fx-font-size: 38;
    -fx-stroke: antiquewhite;
    -fx-stroke-width: 2px;
}


.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.text{
    -fx-font-smoothing-type: lcd;
}

.scroll-pane{
    -fx-background-color:transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}